{% extends 'base.html' %}
{% block title %}
  Keyword Typos Page
{% endblock %}

{% block content %}
<h1>KEYWORD TYPOS PAGE</h1>

    <table class="table table-hover table-dark">
        <thead>
            <tr>
                <!-- Your Columns HERE -->
                <th scope="col">User Name</th>
                <th scope="col">Keyword</th>
                <th scope="col">Typo</th>
            </tr>
        </thead>
        <tbody>
            <!-- Your rows inside the table HERE: -->
            {% for user in users %}
                <tr>
                    <td>{{ user.register_name }}</td>
                    <td>{{ user.keyword }}</td>
                    <td>
                        {% for keyword_typo in user.keyword_typos %}
                                {{ keyword_typo.typo }}
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
      
{% endblock %}