{% extends 'base.html' %}
{% block title %}
  Possible Phishing Domains Page
{% endblock %}

{% block content %}
<h1>POSSIBLE PHISHING DOMAINS PAGE</h1>

    <table class="table table-hover table-dark">
        <thead>
            <tr>
                <!-- Your Columns HERE -->
                <th scope="col">ID</th>
                <th scope="col">Domain</th>
                <th scope="col">User Name</th>
                <th scope="col">Keyword</th>
                <th scope="col">Insert Date</th>
                <th scope="col">Update Date</th>
            </tr>
        </thead>
        <tbody>
            <!-- Your rows inside the table HERE: -->
            {% for possible_phishing in possible_phishings %}
                <tr>
                    <td>{{ possible_phishing.id }}</td>
                    <td><a  href="{{ possible_phishing.possible_phishing_domain }}" style="color:white">{{ possible_phishing.possible_phishing_domain }}</a></td>
                    <td>{{ possible_phishing.register_name}}</td>
                    <td>{{ possible_phishing.from_which_keyword}}</td>
                    <td>{{ possible_phishing.insert_date}}</td>
                    <td>{{ possible_phishing.update_date}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
      
{% endblock %}