{% extends 'base.html' %}
{% block title %}
  Possible Phishing Domains Page
{% endblock %}

{% block content %}
<h1 id="head1" style="text-align: center; padding: 10px 0">Possible Phishing Domains</h1>

    <select style="padding: 5px 5px; margin-bottom: 10px; font-size: 18px; background-color: #212121; color: aliceblue; border-radius:5px" id="domain-types" onchange="change_domain_types()">
        <option style="background-color: #212121; color: aliceblue" id="first" value="first">Choose domain status</option>
        <option style="background-color: #212121; color: aliceblue" id="All" value="All">All Domains</option>
        <option style="background-color: #212121; color: aliceblue" id="Undetermined" value="Undetermined">Possible Phishing Domains</option>
        <option style="background-color: #212121; color: aliceblue" id="Approved" value="Approved">Approved</option>
        <option style="background-color: #212121; color: aliceblue" id="False Positive" value="FalsePositive">False Positive</option>
    </select>


    <table class="table table-hover table-dark" id="domains">
        <thead>
            <tr>
                <!-- Your Columns HERE -->
                <th scope="col">Phishing Domain</th>
                <th scope="col">User</th>
                <th scope="col">Keyword</th>
                <th scope="col">Insert Date</th>
                <th scope="col">Update Date</th>
                <th scope="col">Whois Record</th>
                <th scope="col">DNS A Record</th>
                <th scope="col">DNS NS Record</th>
                <th scope="col">DNS MX Record</th>
                <th scope="col" style="text-align: center">False Positive</th>
                <th scope="col" style="text-align: center">Approve</th>
            </tr>
        </thead>
        <tbody id="table-content">
            <!-- Your rows inside the table HERE: -->
            {% for possible_phishing in possible_phishings %}
                <tr id="table-rows">
                    <td><a  href="http://{{ possible_phishing.possible_phishing_domain }}" style="color:white">{{ possible_phishing.possible_phishing_domain }}</a></td>
                    <td>{{ possible_phishing.register_name}}</td>
                    <td>{{ possible_phishing.from_which_keyword}}</td>
                    <td>{{ possible_phishing.insert_date}}</td>
                    <td>{{ possible_phishing.update_date}}</td>
                    <td>{{ possible_phishing.whois_record['registrar']}}</td>
                    <td>{% if possible_phishing.dns_a_record == "null" %}
                            Not available
                        {% else %}
                            {{ possible_phishing.dns_a_record}}
                        {% endif %}</td>
                    <td>{% if possible_phishing.dns_ns_record == "null" %}
                            Not available
                        {% else %}
                            {{ possible_phishing.dns_ns_record}}
                        {% endif %}</td>
                    <td>{% if possible_phishing.dns_mx_record == "null" %}
                            Not available
                        {% else %}
                            {{ possible_phishing.dns_mx_record}}
                        {% endif %}</td>
                    <td style="text-align: center"><button onclick="change_status('{{ possible_phishing.possible_phishing_domain }}', 'false_positive')"
                                                           style="background-color:red; padding: 10px 10px; color: white; border-radius: 8px;"
                                                           type="button"><i class="fa-solid fa-square-xmark"></i></button></td>
                    <td style="text-align: center"><button onclick="change_status('{{ possible_phishing.possible_phishing_domain }}', 'approved')"
                                                           style="background-color:green; padding: 10px 10px; color: white; border-radius: 8px;"
                                                           type="button"><i class="fa-solid fa-circle-check"></i></button></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <script>
        function change_domain_types(){
            const select = document.getElementById("domain-types");
            const value = select.options[select.selectedIndex].value;
            window.location.href = '{{ url_for('pages.possible_phishing_domains') }}' + `?value=${value}`;
        }

        function change_status(phishing_domain, status){
            window.location.href = '{{ url_for('pages.possible_phishing_domains') }}' + `?phishing_domain=${phishing_domain}&status=${status}`;
        }

        $( document ).ready(function() {
            console.log( "document loaded" );
            const queryString = window.location.search;
            const urlParam = new URLSearchParams(queryString);
            const value = urlParam.get('value');
            if (value === "All"){
                document.getElementById("head1").innerHTML = "All Phishing Domains";
            }
            if (value === "Undetermined"){
                document.getElementById("head1").innerHTML = "All Possible Phishing Domains";
            }
            if (value === "Approved"){
                document.getElementById("head1").innerHTML = "Approved Phishing Domains";
            }
            if (value === "FalsePositive"){
                document.getElementById("head1").innerHTML = "False Positive Phishing Domains";
            }
        });
    </script>
      
{% endblock %}