{% extends 'base.html' %}
{% block title %}
    Register Page
{% endblock %}

{% block content %}
    <body class="text-center">
    <div class="container">
        <form method="POST" class="form-register" style="color:white">
            {{ form.hidden_tag() }}
            <h1 class="h3 mb-3 font-weight-normal">
                Please Register a Keyword
            </h1>
            <br>
            {{ form.username.label() }}
            {{ form.username(class="form-control", placeholder="Register Name") }}

            {{ form.keyword.label() }}
            {{ form.keyword(class="form-control", placeholder="Keyword") }}

            <br>

            {{ form.submit(class="btn btn-lg btn-block btn-primary") }}
        {% if form %}
            <ul class="errors">
                {% for error in form %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        </form>

    </div>
    </body>
{% endblock %}