{% extends 'base.html' %}
{% block title %}
    Register Page
{% endblock %}

{% block content %}
    <body class="text-center">
    <div class="container">
        <form method="POST" class="form-register" style="color:white; font-size: 20px">
            {{ form.hidden_tag() }}
            <h1 class="h3 mb-3 font-weight-normal" style="margin-top: 30px">
                Please Register a Keyword
            </h1>
            <br>
            {{ form.username.label() }}
            {{ form.username(class="form-control", placeholder="User name") }}
            <br>
            {{ form.keyword.label() }}
            {{ form.keyword(class="form-control", placeholder="Domain name without any suffixes") }}
            <br>
            {{ form.category.label() }}
            {{ form.category(class="form-control") }}
            <br style="padding: 0px 5px">
            {{ form.submit(class="btn btn-lg btn-block btn-primary")}}
        </form>
    </div>
    </body>
{% endblock %}