{% extends 'base.html' %}
{% block title %}
  Users Page
{% endblock %}

{% block content %}
<h1 style="text-align: center; padding: 10px 0px">Users</h1>

    <table class="table table-hover table-dark">
        <thead>
            <tr>
                <!-- Your Columns HERE -->
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Keyword</th>
                <th scope="col">Insert Date</th>
                <th scope="col">Update Date</th>
            </tr>
        </thead>
        <tbody>
            <!-- Your rows inside the table HERE: -->
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.register_name }}</td>
                    <td>{{ user.keyword}}</td>
                    <td>{{ user.insert_date }}</td>
                    <td>{{ user.update_date }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
      
{% endblock %}